@import "media.css";

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

.city-page {
    background-size: cover;
    background: url('../image/kyiv/background.jpg') fixed;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.city-text-container {
    border-radius: 40px;
    -webkit-box-shadow: 10px 20px 100px -2px rgba(165,150,250,1);
    -moz-box-shadow: 10px 20px 100px -2px rgba(165,150,250,1);
    box-shadow: 10px 20px 100px -2px rgba(165,150,250,1);
    background: #f8f8f8;
    padding: 60px;
    width: 573px;
    box-sizing: border-box;
}

.city-title {
    color: #1b1d1f;
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 36px;
    margin-top: 0;
}

.city-desc {
    color: #1b1d1f;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.goit-logo {
    position: absolute;
    left: 0;
    top: 32px;
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 10px #ffbf00);
    filter: drop-shadow(5px 5px 10px #ffbf00);
}

.city-gallery {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    box-sizing: border-box;
}

.city-gallery-title {
    margin-top: 0;
    margin-bottom: 80px;
    color: #1b1d1f;
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-button {
    width: calc(25% - 24px * 3 / 4);
    margin-bottom: 24px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 48px;
    padding: 0;
}

.gallery-image {
    width: 100%;
    border-radius: 48px;
}

.footer {
    background-color: #efefef;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #1b1d1f;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
}

.footer-text p {
    margin: 20px;
}

.footer-text a {
    text-decoration: none;
    color: #1b1d1f;
}

.footer-text a:hover {
    text-decoration: none;
    color: #1b1d1f;
}

.footer-text a:active {
    text-decoration: none;
    color: #1b1d1f;
}
