@media (max-width: 394px) {
    .wrapper {
        width: auto !important;
        justify-content: center !important;
    }

    .goit-logo {
        left: 20px !important;
        top: 20px !important;
    }

    .city-text-container {
        margin: 15px !important;
        padding: 20px !important;
    }

    .city-title {
        margin-bottom: 24px !important;
        margin-top: 0 !important;
    }

    .city-desc {
        font-size: 16px !important;
        line-height: 22px !important;
    }

    .gallery-button {
        width: auto !important;
        margin: 20px !important;
    }
}
